<% if current_user.id == @user.id %>
<div class="show-information">

    <div class="show-username">
      <i class="fa-regular fa-circle-user"></i>
      <%= @user.name %>
    </div>

    <div class="show-edit">
      <%= link_to "プロフィール編集", edit_user_registration_path %>
    </div>

</div>
<% end %>



<div class="container">

  <ul class="tab-list" id="tab-1">

    <li class="tab-item is-open">
      <i class="fa-regular fa-bookmark"></i>
      <a href="#dog" data-toggle>保存済み</a>
    </li>

    <li class="tab-item">
      <i class="fa-solid fa-mug-saucer"></i>
      <a href="#cat" data-toggle>登録</a>
    </li>

  </ul>
  
    <div class="tab-content is-open" id="dog">
   
        <% @user.liked_posts.each do |t| %>
        
            <div class="tab-content-2">
                <li><%= link_to t.body, post_path(t.id) %></li>
                <div class="tab-content-3">
                    <div class="post-wifi2">
                        <p><i class="fa-solid fa-wifi"></i></p>
                        <p><%= t.wifi %></p>
                    </div>
                                <div class="post-outlet2">
                                    <p><i class="fa-solid fa-plug"></i></p>
                                    <p><%= t.outlet %></p></p>
                                </div>
                </div>
            </div>

        <% end %>
    
    </div>

  <div class="tab-content" id="cat">

    <% @user.posts.each do |t| %>
        <div class="tab-content-2">
           <li><%= link_to t.body, post_path(t.id) %></li>
                <div class="tab-content-3">
                    <div class="post-wifi2">
                        <p><i class="fa-solid fa-wifi"></i></p>
                        <p><%= t.wifi %></p>
                    </div>
                                <div class="post-outlet2">
                                    <p><i class="fa-solid fa-plug"></i></p>
                                    <p><%= t.outlet %></p></p>
                                </div>
                </div>
        </div>
    <% end %>

  </div>

</div>