<div class="top">

    <div class="top2">

        <p> カフェを検索する</p>

        <div class="top-search">
            <form class="top-search2" action="/posts/index" accept-charset="UTF-8" method="get">
                <label><input type="text" name="search" id="search"></label>
                <button type="submit" name="commit" data-disable-with="検索"></button>
            </form>
        </div>

        <div class="top2-newcafe"><%= link_to "カフェ登録はこちら", new_post_path %></div>

    </div>

<div class="top-catchphrase">
  <div class="p1">
    <p>カフェで</p>
    <p>快適な作業をしたい、</p>
  </div>
  <div class="p2">
    <p>あなたへ。</p>
  </div>
</div>

</div>

<div class="index">

    <%#= page_entries_info @posts %>

    <div class="posts-container">

        <% @posts.each do |t| %>
    
            <div class="post1">

                <%= link_to post_path(t.id) do %>
                    <%= image_tag t.image_url, size: "330x220" if t.image? %>                
                <% end %>

                <div class="post2">

                    <div class="post-list">
                        
                        <div class="post-list1">
                            <div class="post-wifi">
                                <p><i class="fa-solid fa-wifi"></i></p>
                                <p><%= t.wifi %></p>
                            </div>
                            <div class="post-outlet">
                                <p><i class="fa-solid fa-plug"></i></p>
                                <p><%= t.outlet %></p></p>
                            </div>
                        </div>
                    

                        <div class="post-list2">

                                        <% if user_signed_in? %>

                                            <% if current_user.already_liked?(t) %>
                                                <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                                                    <i class="fa-solid fa-bookmark"></i>
                                                <% end %>

                                            <% else %>

                                                <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                                                    <i class="fa-regular fa-bookmark"></i>
                                                <% end %>

                                            <% end %>

                                        <% else %>
                                        
                                            <i class="fa-regular fa-bookmark"></i>

                                        <% end %>
                        </div>

                    </div>

                

                    <div class="post-cafename"><%= link_to t.body, post_path(t.id) %></div>
                
                </div>
                
                <%#= link_to "詳細", post_path(t.id) %>

            </div>

        <% end %>

    </div>

    <%#= paginate @posts %>

</div>