<div class="new">

<%# <div class="new-title">カフェ登録</div> %>

<%= form_for @post do |f| %>

<div class="new-container">

    <div class="new-subtitle">Basic Information</div>

    <ol class="timeline-003">
    <li class="current">step1</li>
    <li>step2</li>
    <li>step3</li>
    </ol>

    <div class="new-list">

        <div class="new-listtop"><p><%= f.label :店舗名 %></p></div>
        <%= f.text_field :body , placeholder:" スターバックスコーヒー アトレ恵比寿店" %>

        <p><%= f.label :アクセス %></p>
        <%= f.text_field :body2, placeholder:"  恵比寿駅 徒歩1分" %>

        <p><%= f.label :営業時間 %></p>
        <%= f.text_field :body3, placeholder:"  7:00 - 22:30" %>

        <p><%= f.label :定休日 %></p>
        <%= f.text_field :body4, placeholder:"  不定休" %>

        <div class="new-listhp"><p><%= f.label :HP %></p></div>
        <%= f.text_field :body5, placeholder:"  https://store.starbucks.co.jp/detail-552/"  %>

        <p><%= f.label :twitter %></p>
        <%= f.text_field :body6 %>

        <p><%= f.label :instagram %></p>
        <%= f.text_field :body7 %>

        <p>Wi-Fi</p>
        <div class="new-wifi">
            <%= f.radio_button :wifi, "有" %>
            <div class="new-wifi-name">有</div>
            <%= f.radio_button :wifi, "無" %>
            <div class="new-wifi-name">無</div>
        </div>

        <p>コンセント</p>
        <div class="new-outlet">
              <%= f.radio_button :outlet, "有" %>
            <div class="new-wifi-name">有</div>
            <%= f.radio_button :outlet, "無" %>
            <div class="new-wifi-name">無</div>
        </div>

    </div>

</div>

<div class="new-container">

    <div class="new-subtitle">Cover Photo</div>

    <ol class="timeline-003">
    <li class="prev">step1</li>
    <li class="current">step2</li>
    <li>step3</li>
    </ol>

    <div class="new-coverphoto">
    <%= f.file_field :image %> 
    </div>

</div>

<div class="new-container">

    <div class="new-subtitle">Google Map</div>

    <ol class="timeline-003">
    <li class="prev">step1</li>
    <li class="prev">step2</li>
    <li class="current">step3</li>
    </ol>

    <div class="new-attention">
    検索ボタンを押し、Google Map上で正しい位置が表示されていることを確認してください。
    </div>

    <div class="new-cafename">
    <input class="new-cafename1" id="address" type="textbox" value="" placeholder="  店舗名" >
    <input class="new-cafename2" type="button" value="検索" onclick="codeAddress()">
    </div>

    <div class="new-googlemap">
    
        <div  id='map'></div>
    
        <style>
        #map {
            height: 300px;
            width: 100%%;
        }
        </style>
    
        <script>
        //初期マップの設定
        let map
        let marker
        function initMap(){
            geocoder = new google.maps.Geocoder()
            map = new google.maps.Map(document.getElementById('map'), {
            center:  {lat: 35.6803997, lng:139.7690174},  //東京
            zoom: 15,
            });
        }
    
        //検索後のマップ作成
        let geocoder
        let aft
        function codeAddress(){
        let inputAddress = document.getElementById('address').value;
        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
            //マーカーが複数できないようにする
            if (aft == true){
                marker.setMap(null);
            }
    
            //新しくマーカーを作成する
            map.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                draggable: true	// ドラッグ可能にする
            });
    
            //二度目以降か判断
            aft = true
    
            //検索した時に緯度経度を入力する
            document.getElementById('lat').value = results[0].geometry.location.lat();
            document.getElementById('lng').value = results[0].geometry.location.lng();
    
            // マーカーのドロップ（ドラッグ終了）時のイベント
            google.maps.event.addListener( marker, 'dragend', function(ev){
                // イベントの引数evの、プロパティ.latLngが緯度経度
                document.getElementById('lat').value = ev.latLng.lat();
                document.getElementById('lng').value = ev.latLng.lng();
            });
        } else {
            alert('該当する結果がありませんでした：' + status);
        }
        });   
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBadobo2NJ9FUPJOJukDECqY4aqfxIlKjY&callback=initMap" async defer></script>

        <div class="new-latlng">
            <%= f.text_field :lat,:value =>"", id: :lat %>
            <%= f.text_field :lng,:value =>"", id: :lng %>
        </div>

    </div>

</div>

<div class="new-submit">
    <%= form_with(model: @post, local: true) do |f| %>
        <%= f.submit '投稿' %>
    <% end %>
</div>

</div>

<% end %>

</div>
