<br>
<br>
<br>
<% if user_signed_in? %>
  <i class="fa-solid fa-right-to-bracket"></i>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
<div class="top">
  <div class="top-subtitle">
    作業カフェ検索サイト
  </div>
  <div class="top-title">
    nomadcafe
  </div>
  <div class="top-search">
    <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
      <%= text_field_tag :search,'', placeholder:'最寄駅' %>
      <%= button_tag "検索" %>
    <% end %>
  </div>
  <%= link_to 'さらに詳しく検索する', posts_path %>
</div>