<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Original</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8d5fcc9eb8.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
  
    <header>

    <div class="header-title">
        <a href="/">nomadcafe</a>
    </div>

    <div class="header-list">
        
        <% if user_signed_in? %>
            
            <%= link_to "mypage" , user_path(current_user.id) %>
            <%= link_to "sign out", destroy_user_session_path, method: :delete %>

        <% else %>

    
        <div data-micromodal-trigger="modal-1">
            sign in
        </div>

        <div class="modal" id="modal-1" aria-hidden="true">
            <div class="modal-overlay" data-micromodal-close>
                <div class="modal-container">
                    <div class="modal-content">
                    
                        <p>sign in</p>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="field-1">
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "  e-mail"%>
                            </div>
                            <div class="field-2">
                                <%= f.password_field :password, autocomplete: "current-password", placeholder: "  password" %>
                            </div>
                            <% if devise_mapping.rememberable? %>
                                <div class="field-3">
                                    <%= f.check_box :remember_me %>
                                    <%= f.label :"情報を保存する" %>
                                </div>
                            <% end %>
                            <div class="top-actions">
                                <%= f.submit "sign in" %>
                            </div>
                        <% end %>
                        <div class="top-registrations">
                            <%= render "users/shared/links" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% end %>
        
    </div>

    </header>
    
    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>

    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
  </body>

</html>
